aiohttp
EdgeGPT
fastapi
langchain
openai
tiktoken
psutil
uvicorn
docx2txt
unstructured
selenium
nest_asyncio
langchain-google-genai
pillow
python-multipart
transformers
bilibili-api-python
faiss-cpu
unstructured[all-docs]
